/*
Theme Name: Manage Issue Based Magazine
Theme URI: http://magazine.projectsdemo.net/
Author: PurpleMAD
Author URI: http://www.purplemad.ca/
Version: 1.0.12
Text Domain: mim-issue
Description: Manage Issue Based Magazine is a responsive theme designed for publishers. With the help of recommended free plugins, you can publish your content in issues otherwise it will work as simple blog theme. It is equipped with multiple theme options to help you customize look and feel of your website. It supports popular plugins like BuddyPress, WooCommerce and WPML. Also theme is translatable so that you can easily localize it in the language you want.
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/quick-guide-gplv3.html
Tags: black,gray,responsive-layout,one-column,two-columns,three-columns,left-sidebar,right-sidebar,custom-colors,custom-menu,featured-image-header,featured-images,full-width-template,theme-options,threaded-comments,translation-ready


    Manage Issue Based Magazine is a full featured WordPress Theme
    Copyright (C) 2015 PurpleMAD
    Manage Issue Based Magazine is distributed under the terms of the GNU GPL

	This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/quick-guide-gplv3.html>.

    NOTE: DO NOT EDIT THIS FILE, IF YOU DO IT WILL BE OVERWRITTEN BY THE NEXT UPDATE. CREATE CHILD THEME INSTEAD.
	See:http://codex.wordpress.org/Child_Themes
*/

/* ---------------- Misc HTML tags ---------------- */

address {
	font-size: 1.00em;
	font-style: italic;
}

blockquote, blockquote p {
	font-style: italic;
	margin-left: 1em;
	font-weight: 600;
	line-height: 1.5em;
	vertical-align: bottom;
}

blockquote p:before {
	font-family: FontAwesome;
	content:'\f10d';
	font-size: 0.75em;
	line-height: 1.5em;
	padding: 0 0.5em 0 0;
	color: #c9c9c9;
	vertical-align: top;
}

pre {
	border-radius: 10px;
	border: solid 5px gray;
    font-size: 1em;
    color: blue;
    margin: 1em 0 0 0;
    padding: 1em;
    background: #F7F4F4;
    overflow-x: auto;
}

code {
	font-size: 1em;
	background: rgba(0,0,0,0.1);
}

q{font-style: italic;}

q:before, q:after { content:'"'; }

/* ---------------------------------- list defaults --------------- */
/* ------------- unordered ------------------- */

ul
{
	padding: 0; /* This will vary because of nesting */
	line-height: 1.5em;
	margin: 0 0 0 15px;
}

ul li {
	list-style: disc;
	font-size: 1em;
	list-style-position: outside;
}

ul li li {
	list-style: circle;
	font-size: 1.0em;
	list-style-position: outside;
}

ul li li li {
	list-style: square;
	font-size: 1.0em;
	list-style-position: outside;
}

/* ------------ ordered --------------------------- */

ol{
	padding: 0;
	margin: 0 0 0 1.5em;
	line-height: 1.5em;
}

ol li {
	list-style: decimal;
	font-size: 1em;
	list-style-position: outside;
}

ol li li {
	list-style: lower-alpha;
	font-size: 1em;
	list-style-position: outside;
}

ol li li li {
	list-style: lower-roman;
	font-size: 1em;
	list-style-position: outside;
}

/* -------------- ordered/unordered combo lists ------ */
ol ul li {
	list-style: disc;
	list-style-position: inside;
}

ol ul ul li {
	list-style: circle;
	list-style-position: inside;
}

ul ol li {
	list-style: decimal;
	list-style-position: inside;
}

ul ol ul li {
	list-style: circle;
	list-style-position: inside;
}

ul ul ol li {
	list-style: decimal;
	list-style-position: inside;
}


/* --------------definition list ------------------- */

dt {
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-weight: bold;
}

dl {
	margin: 0;
	padding: 0;
	font-size: 1.0em;
}

dd {
	font-size: 1em;
	margin-left: 1em;
}

/* ------------------table styles --------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 1em;
}

thead {
	font-weight: bold;
	text-align: center;
}

th {
	border: 1px solid #7F7F7F;
	padding: 0.625em;
	background-color: #E3E3E3;
	background-color: rgba(165,149,149,0.2);
}

tfoot {
	background-color: #E3E3E3;
	background-color: rgba(165,149,149,0.3);
	font-weight: bold;
}

tbody {
	text-align: left;
}

tr {
	padding: 0.625em;
}

td {
	border: 1px solid #7F7F7F;
	padding: 0.625em;
	text-align: left;
}

/* ----------------- post meta bottom ------------------------ */

.postmetabottom {
	float: right;
}

/* --------- captioned class --------- */

.wp-caption {
	display: block;
	max-width: 100%;
	margin: 0.5em 0 0.5em 0;
}

/* captioned image border override */
.wp-caption.border {
	max-width: 98%!important;
	height: auto!important;
	border: 8px solid white!important;
	border-radius: 5px!important;
	box-shadow: 0px 0px 5px 0 rgba(72,72,72,0.25)!important;
	padding: 0!important;
	margin-top: 0.625em!important;
	margin-bottom: 0.625em!important;
}

.wp-caption img {
	max-width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
    opacity: 1 !important;
    transform: scale(1) !important;
}

.post-content .wp-caption p {
	margin: 0;
	padding: 0;
}

.wp-caption-text {
  text-align: center;
  margin: 0;
  padding: 0.25em;
  font-size: 1em;
  font-style: italic;
  background: #eee;
  padding: 5px !important;
  position: relative;
  top: -5px;
  color: #666;
}

/* --------- sticky class --------- */

.sticky h2.post-title:after
{
	float: right;
	font-size: 0.5em;
	font-family: FontAwesome;
	color: #727272;
	content: "\f08d";
	padding: 0 10px 0 10px;
	margin: 0 0 0 0;
}

.sticky .aside-entry:before
{
	float: right;
	font-size: 0.875em;
	font-family: FontAwesome;
	color: #727272;
	content: "\f08d";
	padding: 0 10px 0 10px;
	margin: -10px -10px 0 0;
}

.sticky .status-entry:before
{
	float: right;
	font-size: 0.875em;
	font-family: FontAwesome;
	color: #727272;
	content: "\f08d";
	padding: 0 10px 0 10px;
	margin: -10px -10px 0 0;
}

/* ----------- WP Gallery styles ----------- */

.gallery .gallery-caption { display: none; }

/* ---------------- thumbnail style ---------------- */

.size-thumbnail { width: auto !important; }

/* -------------------------------------- Post Comments ------ */

.comment-list .bypostauthor {
	font-size: 0.75em;
}
.comment-list li { list-style: none; }

/* -------------------------------------- Pagination ------ */

.postpagenav {
  width: 100%;
  float: left;
  clear: both;
  margin: 0;
}

.next_page {
  display: inline-block;
  float: right;
}

.postpagenav ul li { list-style: none; }

/* ---- WordPress alignment classes ---- */

.alignleft,.wp-caption.alignleft {
  float: left;
  padding: 0 20px 20px 0;
  opacity: 1 !important;
  transform: scale(1) !important;
  text-align: center;
}

.alignright,.wp-caption.alignright {
  float: right;
  padding: 0 0 20px 20px;
  opacity: 1 !important;
  transform: scale(1) !important;
  text-align: center;
}

.aligncenter {
  margin-left: auto;
  margin-right: auto;
  opacity: 1 !important;
  transform: scale(1) !important;
  text-align: center;
}

.alignnone {
  margin-right: 1em;
  opacity: 1 !important;
  transform: scale(1) !important;
}

.size-full { width: auto !important;}
img.size-full{ 
  opacity: 1 !important;
  transform: scale(1) !important;
  margin: 10px 0 0;
}

.gallery-item  img {
	opacity: 1 !important;
  transform: scale(1) !important;
}


/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}